* {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}
:root {
  --primary: #ea625c;
  --text-color: #777777;
}
.container {
  margin: 10px auto;
  max-width: 1250px;
}
*:focus {
  outline: 2px dashed var(--primary);
}
.site-button {
  min-width: 260px;
  text-decoration: none;
  background-color: var(--primary);
  padding: 12px 38px;
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  text-transform: uppercase;
  transition: 0.3s ease-in-out;
}
.site-button:hover {
  background: #c9514c;
}
